
# Created by https://www.toptal.com/developers/gitignore/api/sbt,scala
# Edit at https://www.toptal.com/developers/gitignore?templates=sbt,scala

### SBT ###
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

### Scala ###
*.class
*.log

### IntelliJ ###
.idea


### Visual Studio Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# End of https://www.toptal.com/developers/gitignore/api/sbt,scala
